:root {
  --color-dark-grey: #555;
  --color-light-grey: #aaa;
  --color-lightest-grey: #eee;
  --color-link: #7777ff;
  --color-primary-background: #fff;
  --gutter: 5px;
}

html {
  font-size: 16px;
}

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: var(--color-dark-grey);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
a:hover,
a:visited,
a:active {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Headings */
.heading1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 35px;
  font-weight: 300;
}
.heading2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

/* Header */
.header {
  min-height: 10vh;
  background-color: var(--color-lightest-grey);
  border-bottom: 1px solid var(--color-dark-grey);
}

.header-top {
  display: flex;
  text-align: center;
}

.logo {
  padding: 10px 20px;
  margin: 5px 10px;
  border: 1px solid var(--color-dark-grey);
}

.banner-heading {
  flex-grow: 1;
}

.navbar-ul {
  display: flex;
  justify-content: center;
}

.navbar-link {
  display: inline-block;
  padding: 5px 10px;
  background-color: var(--color-primary-background);
}

/* Main Content */
.main {
  padding: var(--gutter);
}
.content {
  height: 80vh;
  display: flex;
}

.left-panel,
.main-panel,
.right-panel {
  flex: 0 1 calc(20% - var(--gutter) + (var(--gutter) / 2));
  background-color: var(--color-lightest-grey);
  border: 1px solid var(--color-dark-grey);
}


.left-panel {
  margin-right: var(--gutter);
}

.right-panel {
  margin-left: var(--gutter);
}

.main-panel {
  flex: 1 0;
}

/* Footer */
.footer {
  margin-top: var(--gutter);
  min-height: calc(10vh - var(--gutter));
  background-color: var(--color-lightest-grey);
  border: 1px solid var(--color-dark-grey);
}