:root {
  --row-background-color: #eee;
}

body > div:not(:first-child) {
  margin-top: 10px;
}

.row1 {
  background-color: var(--row-background-color);
}
.row1 > div {
  background-color: greenyellow;
  float: left;
}
.row1::after {
  content: '';
  display: table;
  clear: both;
}


.row2 {
  background-color: var(--row-background-color);
}
.row2 > div {
  background-color: gold;
  display: inline;
}

.row3 {
  background-color: var(--row-background-color);
}
.row3 > div {
  display: inline-block;
  background-color: orchid;
}

.row4 {
  background-color: var(--row-background-color);
  display: flex;
}
.row4 > div {
  background-color: aqua;
}

.row5 {
  background-color: var(--row-background-color);
  display: table;
}
.row5 > div {
  display: table-cell;
  background-color: cornflowerblue;
}

.row6 {
  background-color: var(--row-background-color);
}
.row6 > div {
  background-color: hotpink;
  display: inline-flex;
}

.row7 {
  background-color: var(--row-background-color);
}
.row7 > div {
  background-color: lawngreen;
  display: inline-flex;
}

.row8 {
  background-color: var(--row-background-color);
  display: inline-table;
}
.row8 > div {
  background-color: lightcoral;
  display: table-cell;
}
